<header class="main-header" style="z-index: 1000" data-uk-sticky>

    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar">

            <div class="uk-navbar-left">
                <a href="/projects" class="uk-navbar-item uk-logo">
                    <img src="/website/static/images/wvision_w.svg" width="75" height="50" data-uk-svg>
                </a>
            </div>

            <!--TODO:  Titel anpassen, je nach dem welches View geladen wird-->
            <div class="uk-navbar-center uk-light">
                <h1>Projekt-Übersicht</h1>
            </div>

        </nav>
    </div>
</header>